{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of projects:</p>
        </div>
        <div class="col-md-6">
            <p>{{ nb_projects }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of releases:</p>
        </div>
        <div class="col-md-6">
            <p>{{ nb_releases }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of organizations:</p>
        </div>
        <div class="col-md-6">
            <p>{{ nb_organizations }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of users:</p>
        </div>
        <div class="col-md-6">
            <p><a href="{{ url_for('admin_bp.list_users') }}">{{ nb_users }}</a> ({{ nb_admin }} with admin permissions)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of unique tags:</p>
        </div>
        <div class="col-md-6">
            <p>{{ nb_unique_tags }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of requests:</p>
        </div>
        <div class="col-md-6">
            <p><a href="{{ url_for('admin_bp.requests') }}">{{ nb_requests }}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Number of submissions:</p>
        </div>
        <div class="col-md-6">
            <p><a href="{{ url_for('submissions_bp.list_submissions') }}">{{ nb_submissions }}</a> ({{ nb_pending_submissions }} pending submissions)</p>
        </div>
    </div>
</div>
{% endblock %}
