{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <br />
            {{ pagination.links }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Recent submissions</h1>
            <table class="table">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Website</th>
                      <th>Licenses</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody>
                  {% for submission in submissions %}
                    <tr {% if not submission.reviewed %}class="table-warning"{% endif %}>
                        <td>{{ submission.id }}</td>
                        <td>{{ submission.project_name }}</td>
                        <td>{{ submission.project_description | safe }}</td>
                        <td>{{ submission.project_website }}</td>
                        <td>{{ submission.licenses | join(', ') }}</td>
                        <td>{{ submission.created_at | datetimeformat }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br />
            {{ pagination.links }}
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    $('.table').dataTable( {
        paginate: false,
        "order": [[ 5, "desc" ]] // sort on date
    });
});
</script>
{% endblock %}
