{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Projects</h1>
            <div id="list-projects"></div>
        </div>
        <div class="col">
            <h1>Organizations</h1>
            <div id="list-organizations"></div>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {

    // card template for the projects
    var cardProjectTemplate = _.template(
        '<div class="card">' +
          '<img class="card-img-top" src="<%= logo %>" alt="Card image cap">' +
          '<div class="card-body">' +
            '<h4 class="card-title"><%= project_name %></h4>' +
            '<p class="card-text"><%= project_description %></p>' +
            '<a href="<%= project_details %>" class="btn btn-primary">Learn more</a>' +
          '</div>' +
        '</div>');

    // card template for the organizations
    var cardOrganizationTemplate = _.template(
        '<div class="card">' +
          '<img class="card-img-top" src="<%= logo %>" alt="Card image cap">' +
          '<div class="card-body">' +
            '<h4 class="card-title"><%= organization_name %></h4>' +
            '<p class="card-text"><%= organization_website %></p>' +
            '<a href="<%= organization_details %>" class="btn btn-primary">Learn more</a>' +
          '</div>' +
        '</div>');

    $.ajax({ // Get the list of projects
        url: "{{ url_for('projectapi0.projectapi',) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(projects) {
            projects.objects
            .sort(function (a, b) {
                return a.name > b.name ;
            })
            .map(function (project) {
                var cardHTML = cardProjectTemplate({
                    'logo': '',
                    'project_name': project.name,
                    'project_description': project.short_description,
                    'project_details': '/project/'+project.name
                 });
                 $('#list-projects').append(cardHTML);
            });
        }
    });

    $.ajax({ // Get the list of organizations
        url: "{{ url_for('organizationapi0.organizationapi',) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(organizations) {
            organizations.objects
            .sort(function (a, b) {
                return a.name > b.name ;
            })
            .map(function (organization) {
                var cardHTML = cardOrganizationTemplate({
                    'logo': '',
                    'organization_name': organization.name,
                    'organization_website': organization.website,
                    'organization_details': '/organization/'+organization.name
                 });
                 $('#list-organizations').append(cardHTML);
            });
        }
    });
});
</script>
{% endblock %}
