{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-2">
            {% if organization.icon_url  %}
            <img id="project-logo" src="{{ url_for('uploaded_pictures', filename=organization.icon_url) }}" class="logo" />
            {% endif %}
        </div>
        <div class="col-md">
            <h3 id="organization-name">{{ organization.name }}</h3>
            <small><a href="{{ url_for('organization_bp.form', organization_id=organization.id) }}">Settings</a></small>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5>Website</h5>
                    <a href="{{ organization.website }}">{{ organization.website }}</a>
                    <h5>Description</h5>
                    <div><p class="text-justify">{{ organization.description }}</p></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Projects</li>
                    <li class="breadcrumb-item active">
                        <a href="{{ url_for('organization_bp.recent_releases', organization_name=organization.name) }}"><i class="fa fa-rss" aria-hidden="true" title="Recent releases for {{ organization.name }}"></i></a>
                    </li>
                </ol>
            </div>
            <div id="list-projects"></div>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    var div_project_columns = $("<div>", {"class": "card-columns"});

    var filters = [{"name": "organization_id", "op": "eq",
                    "val": "{{ organization.id }}"}];
    $.ajax({
        url: "{{ url_for('projectapi0.projectapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(projects) {
            projects.objects
            .sort(function (a, b) {
                return a.name > b.name ;
            })
            .map(function (project) {
                var cardHTML = cardProjectTemplate({
                    'logo': project.logo,
                    'project_name': project.name,
                    'project_description': project.short_description,
                    'project_details': '/project/'+project.name
                 });
                 div_project_columns.append(cardHTML);
            });
        }
    });
    $('#list-projects').append(div_project_columns);
});
</script>
{% endblock %}
