{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-2">
            {% if organization.icon_url  %}
            <img id="project-logo" src="{{ url_for('uploaded_pictures', filename=organization.icon_url) }}" class="logo" />
            {% endif %}
        </div>
        <div class="col-md">
            <h3 id="organization-name">{{ organization.name }}</h3>
            <small><a href="{{ url_for('organization_bp.form', organization_id=organization.id) }}">Settings</a></small>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5>Website</h5>
                    <a href="{{ organization.website }}">{{ organization.website }}</a>
                    <h5>Description</h5>
                    <div><p class="text-justify">{{ organization.description }}</p></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Projects</li>
                    <li class="breadcrumb-item active">
                        <a href="{{ url_for('organization_bp.recent_releases', organization_name=organization.name) }}"><i class="fa fa-rss" aria-hidden="true" title="Recent releases for {{ organization.name }}"></i></a>
                    </li>
                </ol>
            </div>
            <div id="list-projects"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Stats</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2>Licenses distribution</h2>
            <canvas id="licenses-pie-chart" width="100%" height="100%"></canvas>
        </div>
        <div class="col-md-5 offset-md-2">
            <h2>Languages distribution</h2>
            <canvas id="languages-pie-chart" width="100%" height="100%"></canvas>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    var div_project_columns = $("<div>", {"class": "card-columns"});

    var filters = [{"name": "organization_id", "op": "eq",
                    "val": "{{ organization.id }}"}];
    $.ajax({
        url: "{{ url_for('projectapi0.projectapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(projects) {
            projects.objects
            .sort(function (a, b) {
                return a.name > b.name ;
            })
            .map(function (project) {
                var cardHTML = cardProjectTemplate({
                    'logo': project.logo,
                    'project_name': project.name,
                    'project_description': project.short_description,
                    'project_details': '/project/'+project.name
                 });
                 div_project_columns.append(cardHTML);
            });
        }
    });
    $('#list-projects').append(div_project_columns);



    function pastelColorMaker() {
        var hue = Math.floor(Math.random() * 360);
        return 'hsl(' + hue + ', 100%, 87.5%)';
    }
    // some static pastel colors
    var colors = ['rgba(230, 25, 75, 0.2)', 'rgba(60, 180, 75, 0.2)',
        'rgba(255, 225, 25, 0.2)', 'rgba(0, 130, 200, 0.2)', 'rgba(245, 130, 48, 0.2)',
        'rgba(145, 30, 180, 0.2)', 'rgba(70, 240, 240, 0.2)', 'rgba(240, 50, 230, 0.2)',
        'rgba(210, 245, 60, 0.2)', 'rgba(250, 190, 190, 0.2)', 'rgba(0, 128, 128, 0.2)',
        'rgba(230, 190, 255, 0.2)', 'rgba(170, 110, 40, 0.2)', 'rgba(255, 250, 200, 0.2)',
        'rgba(128, 0, 0, 0.2)', 'rgba(170, 255, 195, 0.2)', 'rgba(128, 128, 0, 0.2)',
        'rgba(255, 215, 180, 0.2)', 'rgba(0, 0, 128, 0.2)', 'rgba(128, 128, 128, 0.2)',
        'rgba(255, 255, 255, 0.2)','rgba(0, 0, 0, 0.2)'];

    $.ajax({
        url: "{{ url_for('stats_bp.licenses', organization_name=organization.name) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(licenses) {
            var ctx = document.getElementById("licenses-pie-chart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(licenses),
                    datasets: [{
                        data: Object.values(licenses),
                        borderWidth: 1,
                        backgroundColor: colors.concat(_.times(Object.keys(licenses).length, pastelColorMaker))
                    }]
                },
                options: {
                    onClick: function(evt) {
                        var license_label = myChart.getElementsAtEvent(evt)[0]._model.label;
                        filters = [{"name":"name","op":"eq","val":license_label}];
                        $.ajax({
                            url: "{{ url_for('licenseapi0.licenseapi',) }}",
                            data: {"q": JSON.stringify({"filters": filters})},
                            dataType: "json",
                            contentType: "application/json",
                            success: function(licenses) {
                                if (licenses.num_results == 1) {
                                    window.location = '/projects?license='+licenses.objects[0].license_id+'&organization={{organization.name}}';
                                }
                            }
                        });
                    }
                }
            });
        }
    });

    $.ajax({
        url: "{{ url_for('stats_bp.languages', organization_name=organization.name) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(languages) {
            var ctx = document.getElementById("languages-pie-chart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(languages),
                    datasets: [{
                        data: Object.values(languages),
                        borderWidth: 1,
                        backgroundColor: colors.concat(_.times(Object.keys(languages).length, pastelColorMaker))
                    }]
                },
                options: {
                    onClick: function(evt) {
                        var language_label = myChart.getElementsAtEvent(evt)[0]._model.label;
                        filters = [{"name":"name","op":"eq","val":language_label}];
                        $.ajax({
                            url: "{{ url_for('languageapi0.languageapi',) }}",
                            data: {"q": JSON.stringify({"filters": filters})},
                            dataType: "json",
                            contentType: "application/json",
                            success: function(languages) {
                                if (languages.num_results == 1) {
                                    window.location = '/projects?language='+languages.objects[0].name+'&organization={{organization.name}}';;
                                }
                            }
                        });
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}
