{% extends "layout.html" %}
{% block head %}
{{ super() }}
    <link href="{{ url_for('project_bp.recent_releases', project_name=project.name) }}" rel="alternate" title="Recent releases" type="application/atom+xml">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% if project.icon_url  %}
            <img id="project-logo" src="{{ url_for('uploaded_pictures', filename=project.icon_url) }}" width="200px" />
            {% endif %}
        </div>
        <div class="col-2">
            <h3 id="project-name"></h3>
            <small><a href="{{ url_for('project_bp.form', project_id=project.id) }}">Edit</a></small>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5>Description</h5>
                    <div><p id="project-description" class="text-justify"></p></div>
                    <h5>License</h5>
                    <div id="project-licenses" class="btn-toolbar"></div>
                    <h5>Tags</h5>
                    <div id="project-tags" class="btn-toolbar"></div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5>Reference</h5>
                    <p><a id="project-website">Homepage</a></p>
                    {% if project.required_informations %}
                        <p><a href="{{ url_for('service_bp.service', name=project.name) }}">Related service</a></p>
                    {% endif %}
                    {% if project.maintainer_id %}
                        <p><a href="#">Maintainer</a></p>
                    {% endif %}
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5>Recent CVE</h5>
                    <div id="list-cves" class="list-group"></div>
                </div>
            </div>
        </div>

        <div class="col-4">
	    <h5>Recent releases <a href="{{ url_for('project_bp.recent_releases', project_name=project.name) }}"><i class="fa fa-rss" aria-hidden="true"></i></a></h5>
            <div id="project-releases" class="list-group"></div>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    // Get information about the project in the URL parameter
    // var url = window.location.pathname;
    // var project = url.split("/").slice(-1)[0];
    var filters = [{"name": "name", "op": "eq", "val": "{{ project.name }}"}];
    $.ajax({
        url: "{{ url_for('projectapi0.projectapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(project) {
            if (project.objects[0].organization) {
              $("#organization-name").html(project.objects[0].organization.name);
              $("#organization-name").attr("href", '/?organization=' +
                                              project.objects[0].organization.name);
            }
            $("#project-name").html(project.objects[0].name);
            $("#project-logo").attr("src", project.objects[0].logo);
            $("#project-website").attr("href", project.objects[0].website);
            $("#project-description").html(project.objects[0].description);
            $("#project-id-input").val(project.objects[0].id);

            project.objects[0].tags.map(function(tag){
                var a = document.createElement('a');
                var linkText = document.createTextNode(tag);
                a.appendChild(linkText);
                a.setAttribute('title', tag);
                a.setAttribute('class', 'btn btn-outline-dark btn-sm');
                a.setAttribute('style', 'margin:1px');
                a.setAttribute('href', '/projects/?tag='+tag);
                $("#project-tags").append(a);
                $("#project-tags").append('&nbsp;');
            })

            project.objects[0].licenses.map(function(license){
                var a = document.createElement('a');
                var linkText = document.createTextNode(license.name);
                a.appendChild(linkText);
                a.setAttribute('title', license.name);
                a.setAttribute('class', 'btn btn-outline-dark btn-sm');
                a.setAttribute('style', 'margin:1px');
                $("#project-licenses").append(a);
                $("#project-licenses").append('&nbsp;');
            })
        }
    });


    var cveTemplate = _.template(
        '<a href="<%= cve_url %>" class="list-group-item list-group-item-action flex-column align-items-start">' +
          '<div class="d-flex w-100 justify-content-between">' +
            '<h5 class="mb-1"><%= cve_id %></h5>' +
            '<small>published <%= published_at %></small>' +
          '</div>' +
          '<p class="mb-1 text-justify"><%= cve_summary %></p>' +
        '</a>');
    var filters = [{"name": "project_id", "op": "eq", "val": "{{ project.id }}"}];
    $.ajax({
        url: "{{ url_for('CVEapi0.CVEapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(cves) {
          cves.objects
          .sort(function (a, b) {
              return a.published_at < b.published_at ;
          })
          .map(function(cve){
            var cardHTML = cveTemplate({
                'cve_url': 'http://cve.circl.lu/cve/' + cve.cve_id,
                'cve_id': cve.cve_id,
                'published_at': moment(cve.published_at).fromNow(),
                'cve_summary': cve.summary
             });
             $('#list-cves').append(cardHTML);
          })
        }
    });


    var releaseTemplate = _.template(
        '<a href="<%= release_url %>" class="list-group-item list-group-item-action flex-column align-items-start">' +
          '<div class="d-flex w-100 justify-content-between">' +
            '<h5 class="mb-1"><%= version %></h5>' +
            '<small>published <%= published_at %></small>' +
          '</div>' +
          '<p class="mb-1 text-justify text-truncate"><%= changes %></p>' +
        '</a>');
    var filters = [{"name": "project_id", "op": "eq", "val": "{{ project.id }}"}];
    $.ajax({
        url: "{{ url_for('releaseapi0.releaseapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(releases) {
          releases.objects
          .sort(function (a, b) {
              return a.published_at < b.published_at ;
          })
          .map(function(release){
            var cardHTML = releaseTemplate({
                'release_url': release.release_url,
                'version': release.version,
                'published_at': moment(release.published_at).fromNow(),
                'changes': release.changes
             });
             $('#project-releases').append(cardHTML);
          })
        }
    });
});
</script>
{% endblock %}
