{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            {% if project.icon_url  %}
            <img id="project-logo" src="{{ url_for('uploaded_pictures', filename=project.icon_url) }}" width="150px" />
            {% endif %}
        </div>
        <div class="col">
            <img id="project-logo" src="" width="300px" />
            <h4 id="project-name"></h4>
            <small><a href="{{ url_for('project_bp.form', project_id=project.id) }}">Edit</a></small>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5>Description</h5>
                    <div><p id="project-description" class="text-justify"></p></div>
                    <h5>Tags</h5>
                    <div id="project-tags"></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p>Website:&nbsp;<a id="project-website"></a></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h5>Recent CVE</h5>
            <div id="list-cves" class="list-group"></div>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    // Get information about the project in the URL parameter
    // var url = window.location.pathname;
    // var project = url.split("/").slice(-1)[0];
    var filters = [{"name": "name", "op": "eq", "val": "{{ project.name }}"}];
    $.ajax({
        url: "{{ url_for('projectapi0.projectapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(project) {
            $("#organization-name").html(project.objects[0].organization.name);
            $("#organization-name").attr("href", '/?organization=' +
                                            project.objects[0].organization.name);
            $("#project-name").html(project.objects[0].name);
            $("#project-logo").attr("src", project.objects[0].logo);
            $("#project-website").html(project.objects[0].website);
            $("#project-website").attr("href", project.objects[0].website);
            $("#project-description").html(project.objects[0].description);
            $("#project-id-input").val(project.objects[0].id);
            $("#project-tags").html(project.objects[0].tags.join(', '));
        }
    });


    var cveTemplate = _.template(
        '<a href="<%= cve_url %>" class="list-group-item list-group-item-action flex-column align-items-start">' +
          '<div class="d-flex w-100 justify-content-between">' +
            '<h5 class="mb-1"><%= cve_id %></h5>' +
            '<small>published <%= published_at %></small>' +
          '</div>' +
          '<p class="mb-1"><%= cve_summary %></p>' +
        '</a>');

    var filters = [{"name": "project_id", "op": "eq", "val": "{{ project.id }}"}];
    $.ajax({
        url: "{{ url_for('CVEapi0.CVEapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(cves) {
          cves.objects
          .sort(function (a, b) {
              return a.published_at < b.published_at ;
          })
          .map(function(cve){
            var cardHTML = cveTemplate({
                'cve_url': 'http://cve.circl.lu/cve/' + cve.cve_id,
                'cve_id': cve.cve_id,
                'published_at': moment(cve.published_at).fromNow(),
                'cve_summary': cve.summary
             });
             $('#list-cves').append(cardHTML);
          })
        }
    });
});
</script>
{% endblock %}
