{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Our services</h1>
    </div>
    <div class="row">
        <div id="list-services" class="card-columns"></div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    // Get information about the service in the URL parameter
    var cardTemplate = _.template(
        '<div class="card">' +
          '<img class="card-img-top" src="<%= logo %>" alt="Card image cap">' +
          '<div class="card-body">' +
            '<h4 class="card-title"><%= service_name %></h4>' +
            '<p class="card-text"><%= service_description %></p>' +
            '<a href="<%= service_details %>" class="btn btn-primary">Learn more</a>' +
          '</div>' +
        '</div>');
    $.ajax({
        url: "{{ url_for('serviceapi0.serviceapi',) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(services) {
            services.objects.map(function (service) {
                var cardHTML = cardTemplate({
                    'logo': service.logo,
                    'service_name': service.name,
                    'service_description': service.description,
                    'service_details': 'service?name='+service.name
                 });
                 $('#list-services').append(cardHTML);
            });
        }
    });
});
</script>
{% endblock %}
