{% extends "layout.html" %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">SECURITYMADEIN.LU</a></li>
    <li class="breadcrumb-item"><a href="/" id="organization-name">Organization</a></li>
    <li class="breadcrumb-item active" id="service-name">Library</li>
</ol>
<div class="container">
    <div class="row">
        <img id="service-logo" src="" width="300px"/>
    </div>
    <div class="row">
        Website:&nbsp;<a id="service-website"></a>
    </div>
    <div class="row">
        <div><p id="service-description" class="lead"></p></div>
    </div>
    <div class="row">
        <h5>Interested by this service?</h5>
    </div>
    <div class="row">
        <p>Please prodive us the following informations</p>
    </div>
    <div class="row">
        <form id="required_informations"></form>
    </div>
</div><!-- /.container -->

<script>
$(document).ready(function() {
    // Get information about the service in the URL parameter
    var service = getUrlParameter('name');
    var filters = [{"name": "name", "op": "like", "val": service}];
    $.ajax({
        url: "{{ url_for('serviceapi0.serviceapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(data) {
            $("#organization-name").html(data.objects[0].organization);
            $("#organization-name").attr("href", '/?organization=' +
                                                data.objects[0].organization);
            $("#service-name").html(data.objects[0].name);
            $("#service-logo").attr("src", data.objects[0].logo);
            $("#service-website").html(data.objects[0].website);
            $("#service-website").attr("href", data.objects[0].website);
            $("#service-description").html(data.objects[0].description);

            data.objects[0].required_informations
            .sort(function (a, b) {
                return a.order - b.order ;
            })
            .map(function (required_information) {
                $('#required_informations').append('<div class="form-group"><label for="exampleInputEmail1">'+ required_information.name +'</label><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="' + required_information.name + '"></div>');
            });
            $('#required_informations').append('<button type="submit" id="submitButton" class="btn btn-primary">Submit</button>');
        }
    });
});

$("#required_informations").submit(function(event) {
    event.preventDefault();
    // $("form#required_informations :input").each(function(){
    //     var input = $(this);
    //     console.log(input);
    // });

    var map = {};
    $("form#required_informations :input").each(function() {
        console.log($(this));
        map[$(this).attr("name")] = $(this).val();
    });

    console.log(map);

    var values = [];
    $('form#required_informations :input').each(function() {
        values.push($(this).val());
    });
    console.log(values);


    console.log($('#required_informations').serialize());
    $.ajax({
        url: "{{ url_for('serviceapi0.serviceapi',) }}",
        type: 'post',
        dataType: 'json',
        data: $('#required_informations').serialize(),
        success: function(data) {
            console.log(data);
        }
    });
});
</script>
{% endblock %}
