{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="alert alert-success alert-dismissible" role="alert" id="alert-box">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong id="alert-box-message-title">Success</strong>
        <span id="alert-box-message-content">Request sent!</span>
    </div>
    <div class="row">
        <div class="col">
            <h1>Our services</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">SECURITYMADEIN.LU</a></li>
                <li class="breadcrumb-item"><a href="/" id="organization-name">Organization</a></li>
                <li class="breadcrumb-item active" id="service-name">Library</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img id="service-logo" src="" width="300px"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Website:&nbsp;<a id="service-website"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div><p id="service-description" class="lead"></p></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Interested by this service?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Please, prodive us the following information and we will get back to you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="required-informations">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="form-email" value="" required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" placeholder="Firstname" id="form-firstname" value="" required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname" id="form-lastname" value="" required="true">
                </div>
                <input type="hidden" id="service-id-input" name="service_id" value="">
            </form>
        </div>
    </div>
</div><!-- /.container -->

<script>
$("#alert-box").hide();
$(document).ready(function() {

    var inputTemplate = _.template(
        '<input type="<%= input_type %>" class="form-control service-specific" '
        + 'accept="<%= mime_type %>" '
        + 'name="<%= name %>" placeholder="<%= name %>" <%= required %>>');

    var textAreaTemplate = _.template(
        '<textarea class="form-control service-specific" '
        + 'accept="<%= mime_type %>" '
        + 'name="<%= name %>" cols="90" rows="5" <%= required %>><%= name %></textarea>');


    // Get information about the service in the URL parameter
    var service = getUrlParameter('name');
    var filters = [{"name": "name", "op": "like", "val": service}];
    $.ajax({
        url: "{{ url_for('serviceapi0.serviceapi',) }}",
        data: {"q": JSON.stringify({"filters": filters})},
        dataType: "json",
        contentType: "application/json",
        success: function(data) {
            $("#organization-name").html(data.objects[0].organization);
            $("#organization-name").attr("href", '/?organization=' +
                                                data.objects[0].organization);
            $("#service-name").html(data.objects[0].name);
            $("#service-logo").attr("src", data.objects[0].logo);
            $("#service-website").html(data.objects[0].website);
            $("#service-website").attr("href", data.objects[0].website);
            $("#service-description").html(data.objects[0].description);
            $("#service-id-input").val(data.objects[0].id);

            data.objects[0].required_informations
            .sort(function (a, b) {
                return a.order - b.order ;
            })
            .map(function (required_information) {

                if (required_information.type == "text" ||
                        required_information.type == "file") {
                    var cardInput = inputTemplate({
                        'input_type': required_information.type,
                        'mime_type': required_information.mimetype,
                        'name': required_information.name,
                        'placeholder': required_information.name,
                        'required': required_information.required ? ' required' : ''
                     });
                } else if (required_information.type == "textarea")  {
                    var cardInput = textAreaTemplate({
                        'mime_type': required_information.mimetype,
                        'name': required_information.name,
                        'required': required_information.required ? ' required' : '',
                        'name': required_information.name
                    });
                }

                $('#required-informations')
                .append('<div class="form-group">'+ cardInput + '</div>');
            });
            $('#required-informations')
            .append('<button type="submit" value="OK" class="btn btn-primary">OK</button>');
        }
    });

    $('#required-informations').on('change', 'input[type=file]', function () {
        var reader = new FileReader();
        var cur_input = $(this);
        reader.onload = (function(theFile) {
            return function(e) {
                // Render thumbnail.
                // var span = document.createElement('span');
                // span.innerHTML = ['<img class="thumb" src="', e.target.result,
                // '" title="', escape(theFile.name), '"/>'].join('');
                cur_input.attr('data', e.target.result);
                // document.getElementById('list').insertBefore(span, null);
            };
        })($(this)[0].files[0]);
        reader.readAsDataURL($(this)[0].files[0]);
    });
});


$("#required-informations").submit(function(event) {
    event.preventDefault();

    $("#alert-box").hide();

    var requests_informations = {};
    var service_required_informations = {};
    $('form#required-informations :input').each(function() {
        if (! $(this).is( ":button" )) {
            if ($(this).hasClass('service-specific')) {
                if ($(this).attr('type') == 'file') {
                    service_required_informations[$(this).attr('name')] = $(this).attr('data');
                } else {
                    service_required_informations[$(this).attr('name')] = $(this).val();
                }
            } else {
                requests_informations[$(this).attr('name')] = $(this).val();
            }
        }
    });

    requests_informations['required_informations'] = service_required_informations;

    $.ajax({
        url: "{{ url_for('requestapi0.requestapi') }}",
        type: 'POST',
        dataType: 'json',
        contentType: "application/json",
        data: JSON.stringify(requests_informations),
        headers: {
            contentType: "application/json"
        },
        success: function(result) {
            $("#alert-box").attr('class', 'alert alert-success alert-dismissible');
            $("#alert-box-message-title").html('Success');
            $("#alert-box-message-content").html('Request sent!');
            $("#alert-box").show();
        },
        error: function(error) {
            $("#alert-box").attr('class', 'alert alert-danger alert-dismissible');
            $("#alert-box-message-title").html('Error');
            $("#alert-box-message-content").html($.parseJSON(error.responseText).message);
            $("#alert-box").show();
        }
    });
});
</script>
{% endblock %}
