{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Our services</h1>
    </div>
    <div class="row" id="list-services"></div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    $organizations = ["CASES", "CIRCL"];
    $organization_param = getUrlParameter('organization');
    if (typeof $organization_param !== 'undefined') {
        $organizations = [$organization_param];
    }

    var cardTemplate = _.template(
        '<div class="card">' +
          '<img class="card-img-top" src="<%= logo %>" alt="Card image cap">' +
          '<div class="card-body">' +
            '<h4 class="card-title"><%= service_name %></h4>' +
            '<p class="card-text"><%= service_description %></p>' +
            '<a href="<%= service_details %>" class="btn btn-primary">Learn more</a>' +
          '</div>' +
        '</div>');

    shuffle($organizations);
    $organizations.map(function (organization) {

        var $div_organization = $("<div>");
        $div_organization.append('<ol class="breadcrumb">' +
                                '<li class="breadcrumb-item active">SECURITYMADEIN.LU</li>' +
                                '<li class="breadcrumb-item active" id="service-name">' +
                                '<a href="?organization=' + organization + '">' +
                                organization + '</a></li></ol>');
        $('#list-services').append($div_organization);

        var $div_organization_columns = $("<div>", {"class": "card-columns"});

        var filters = [{"name": "organization", "op": "like", "val": organization}];
        $.ajax({
            url: "{{ url_for('serviceapi0.serviceapi',) }}",
            data: {"q": JSON.stringify({"filters": filters})},
            dataType: "json",
            contentType: "application/json",
            success: function(services) {
                services.objects.map(function (service) {
                    var cardHTML = cardTemplate({
                        'logo': service.logo,
                        'service_name': service.name,
                        'service_description': service.description,
                        'service_details': 'service?name='+service.name
                     });
                     $div_organization_columns.append(cardHTML);
                });
            }
        });
        $('#list-services').append($div_organization_columns);
    })

});

function shuffle(a) {
    for (let i = a.length; i; i--) {
        let j = Math.floor(Math.random() * i);
        [a[i - 1], a[j]] = [a[j], a[i - 1]];
    }
}

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
</script>
{% endblock %}
