{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Our services</h1>
    </div>
    <div class="row">


        <div class="card-columns">
            <div class="card">
              <img class="card-img-top" src="{{ url_for("static", filename="img/bgpranking.png") }}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">BGP Ranking</h4>
                <p class="card-text">BGP Ranking is a free software to calculate the security ranking of Internet Service Providers. The system is gathering external datasources (e.g. dshield, shadowserver, Arbor ATLAS) in order to evaluate the ranking over time.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="{{ url_for("static", filename="img/monarc.png") }}" height="240px" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">MONARC</h4>
                <p class="card-text"> Method for an Optimised aNAlysis of Risks</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                 <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>


          <div class="card">
            <img class="card-img-top" src="{{ url_for("static", filename="img/misp.png") }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">MISP</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               <a href="#" class="btn btn-primary">Learn more</a>
            </div>
          </div>


          <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">AIL</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               <a href="#" class="btn btn-primary">Learn more</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">DMA</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               <a href="#" class="btn btn-primary">Learn more</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{{ url_for("static", filename="img/passivedns.png") }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Passive DNS</h4>
              <p class="card-text">CIRCL Passive DNS is a database storing historical DNS records from various resources including malware analysis or partners. The DNS historical data is indexed, which makes it searchable for incident handlers, security analysts or researchers.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="#" class="btn btn-primary">Learn more</a>
            </div>
          </div>
        </div>

    </div>
</div><!-- /.container -->
{% endblock %}
