{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Settings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('project_bp.form', project_id=project.id) }}">Edit project description</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('project_bp.code_locations', project_name=project.name) }}">Edit code locations</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('project_bp.edit_releases', project_name=project.name) }}">Edit project releases</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('project_bp.delete', project_name=project.name) }}" onclick="return confirm('You are going to delete this project.');">Delete this project</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
